<%if notice%>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Listing Orders</h1>


<div class="container">
  <div class="well">
    <%= link_to "New Order", new_order_path, class: "btn btn-info" %>
  </div>
  <div class="new-product"></div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Pay Type</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody class="product-index">
     <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.email %></td>
        <td><%= order.pay_type %></td>
        <td><%= link_to '', order , class: "btn btn-danger glyphicon glyphicon-eye-open" %></td>
        <td><%= link_to '', edit_order_path(order), class: "btn btn-default glyphicon glyphicon-pencil" %></td>
        <td><%= link_to '', order, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger glyphicon glyphicon-remove" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div id="product-modal" class="modal fade"></div>



