<% unless cart.line_items.empty? %>
  <div class="cart_title"><code><%= t('.title')%></code></div>
  <table>
    <%=render (@cart.line_items)%>
    <%#=render 'line_items/line_item'%>
    <tr class="total_line list-group-item">
      <td colspan="2" class="text-warning">Total: &nbsp; &nbsp;</td>
      <td class="total_cell text-success"><%= number_to_currency(@cart.total_price)%></td>
    </tr>
  </table>


<%= hidden_div_if( @hide_checkout_button == true ) do %>
  <!-- <td><%#= button_to t('.checkout'), new_order_path, :method => :get, :class=>"button" %></td> -->

  <% if session[:user_id] %>
  <%= button_to t('.checkout'), new_order_path, :method => :get, :class=>"btn btn-red button" %>
  <% end %>

  <% end %>
  <%= button_to t('.empty'), @cart, :method=> :delete,:confim=>'Are you sure?' , :class=>"btn btn-info"%>



<%#= button_to 'Checkout', new_order_path, method: :get , :class=>"button"%>
<%#= button_to t('.empty'), @cart, :method=> :delete,:confim=>'Are you sure?' , :class=>"button1"%>
<% end %>